body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #0E0E0E;
  display: flex;
  justify-content: center;
}

@media (max-width: 530px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  :root {
    font-size: 13px;
  }
}

@media (max-width: 380px) {
  :root {
    font-size: 12px;
  }
}
